*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mainBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    font-weight: bolder;
    font-family: "Bookman Old Style";

}
#buttonboxfrag{
    width: 15%;
    background-color: beige;

}
#textBox{
    width: 70%;
    display: flex;
    background-color: beige;

}
#logoutbox{
    width: 15%;
}
#headertext {
    font-size: 300%;
}


#logo{
    width: 100%;
    height:6vh;
}










