<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" >
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" >

</head>

<!-- thymeleaf fragnment har en paramter(funktionsinput) som vi sender med fragment, p tag har en variable som skal erstatte i fragment, hvordan den så er defineret -->

<header th:fragment="header(headertext)" id="header">
    <div id="mainBox">
        <div id="buttonboxfrag">
            <button id="mainpagebutton"><a href="/add"><img src="pictures/LogoForside.png" id="logo"></a></button>
        </div>
        <div id="textBox">
            <p th:text="${headertext}" id="headertext"></p>
        </div>
        <div id="logoutbox">
            <a href="/login" style="display: block;"><button id="logoutbutton">logout</button></a>
        </div>

    </div>
</header>
<body>

</body>
</html>