<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link th:href="@{UniversalStyle.css}" rel="stylesheet">
</head>

<header id="header">
    <div th:fragment="header" id="mainBox">
        <div id="buttonboxfrag">
            <button id="mainpagebutton"><a href="/"><img src="carIcon.png" id="logo"></a></button>
        </div>
        <div id="textBox">
            <p id="headertext">Velkommen til medarbejderportalen</p>
        </div>
        <div id="logoutbox">
            <button id="logoutbutton"><a href="/">logout</a></button>
        </div>

    </div>
</header>
<body>

</body>
</html>