<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" >
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" >

</head>

<header th:fragment="header" id="header">
    <div id="mainBox">
        <div id="buttonboxfrag">
            <button id="mainpagebutton"><a href="/add"><img src="pictures/LogoForside.png" id="logo"></a></button>
        </div>
        <div id="textBox">
            <p th:text="${headertext}" id="headertext">DataRegistrering</p>
        </div>
        <div id="logoutbox">
            <button id="logoutbutton"><a href="/">logout</a></button>
        </div>

    </div>
</header>
<body>

</body>
</html>