<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link rel="stylesheet" href="fragmentStyle.css">

</head>

<body>

<header id="header">
    <div id="mainBox">
        <div id="mainbuttonBox">
            <button id="mainpagebutton"><a href="mainPage.html"><img src="bilLogo.png" id="logo"></a></button>
        </div>
        <div id="mainTekstBox">
            <h1>Velkommen til medarbejderportalen</h1>
        </div>

    </div>

</header>

</body>
</html>