<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>sideFrag</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}" type="text/css">


</head>
<body>




<div th:fragment="sidebar" id="sidebar">

    <nav id="buttonbox">
        <button class="mainPagebuttons"><a href="/addLeasePage"><img src="pictures/LeaseIcon.png" id="leaseButton" width="100vw" height="100vh"></a></button>
        <button class="mainPagebuttons"><a href="/addCars"><img src="pictures/CarIcon.png" id="addButton" width="100vw height=100vh"></a></button>
    </nav>

</div>
</body>
</html>