<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>sideFrag</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}" type="text/css">


</head>
<body>
<div id="sidebar">
    <p>Test</p>
    <nav id="buttonbox">
        <button class="mainPagebuttons"><a href="/addLeasePage">Tilføj Aftale</a></button>
        <button class="mainPagebuttons"><a href="/addCars">Tilføj Bil</a></button>
    </nav>

</div>
</body>
</html>