#mainBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    font-weight: bolder;

}

#textBox{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;



}
#logoutbox{
    width: 15%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5%;


}
#headertext {
    font-size: 300%;
    color: black;
}


#logo{
    width: 100%;
    height:100%;


}
#mainpagebutton{
    border:none;
    width:100%;
    height:100%;
}
#logoutbutton{

    width: 120px;
    border-radius: 32px;
    display: inline-block;
    padding:5%;
    text-align: center;
}










