<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj lejeaftale</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{add-lease.css}">

    <!--- Side til dataregistrering --->

</head>

<body>

    <th:block th:replace="fragment/header-fragment :: header('Dataregistrering')"></th:block>
    <th:block th:replace="fragment/sidebar-fragment :: #sidebar"></th:block>

<div id="rightBox" style="height: fit-content">




   <form action="/add-rental-agreement-model" method="post" name="hej">
       <h2>Lejeaftale:</h2>

       <label for="rentalCar">Ledig bil til udlejning</label>
       <select id="rentalCar" name="rentalCar" required>
       <option th:each="car : ${availableCars}" th:value="${car.getVinNumber()}" th:text="${car.getVinNumber()} + ' ' + ${car.getBrand()}"></option>
       </select>

       <label for="employeeID">Medarbejder ID:</label>
       <br>
       <input type="text" name="employeeID" required id="employeeID">
       <br>
       <label for="dateOfAgreement">Dato:</label>
       <br>
       <input type="date" name="dateOfAgreement" required id="dateOfAgreement">
       <br>
       <label for="rentalStartdate">Lejeaftalens ikrafttrædelsesdato:</label>
       <br>
       <input type="date" name="rentalStartdate" required id="rentalStartdate">
       <br>
       <label for="rentalEnddate">Lejeaftalens udløbsdato:</label>
       <br>
       <input type="date" name="rentalEnddate" required id="rentalEnddate">
       <br>
       <label for="dropOff">Leveringsadresse</label>
       <br>
       <input type="text" name="dropOff" id="dropOff">
       <br>
       <label for="price">Pris:</label>
       <br>
       <input type="text" name="price" id="price">
       <br>
       <label for="licensePlate">Nummerplade:</label>
       <br>
       <input type="text" name="licensePlate" minlength="7" maxlength="7" required id="licensePlate">
       <br>
       <input type="submit" name="submit">
   </form>

</div>
</body>
</html>