<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addCars</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}">
    <link rel="stylesheet" th:href="@{add-cars.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}">
    <link rel="stylesheet" th:href="@{add.css}">




</head>
<body>
    <th:block th:replace="fragment/header-fragment :: header('Dataregistrering')"></th:block>

    <th:block th:replace="fragment/sidebar-fragment :: #sidebar"></th:block>

    <div id="rightBox">
        <div id="headerBox">
            <h1>Registrere en ny bil</h1>
        </div>

            <form action="/addCar" method="post"><!-- denne form bliver sendt til endpoint med metoden POST -->
                <div id="formBox">
                    <div class="form">
                        <div class="formInput">
                            <label for="carModel">Model</label>
                            <input id="carModel" type="text" name="carModel">
                        </div>
                        <div class="formInput">
                            <label for="brand">Brand</label>
                            <input id="brand" type="text" name="brand">
                        </div>
                        <div class="formInput">
                            <label for="carbonEmission">CO2 Udledning</label>
                            <input id="carbonEmission" type="text" name="carbonEmission">
                        </div>
                        <div class="formInput">
                            <label for="registrationCost">Registrerings udgift</label>
                            <input id="registrationCost" type="text" name="registrationCost">
                        </div>
                        <div class="formInput">
                            <label for="equipmentLevel">Udstyrsniveau</label>
                            <input id="equipmentLevel" type="text" name="equipmentLevel">
                        </div>

                    </div>

                    <div class="form">
                        <div class="formInput">
                            <label for="chassisNumber">Stelnummer</label>
                            <input id="chassisNumber" type="text" name="chassisNumber">
                        </div>
                        <div class="formInput">
                            <label for="vinNumber">Vogn nummer</label>
                            <input id="vinNumber" type="text" name="vinNumber">
                        </div>
                        <div class="radio">
                            <span>Udlejet</span>
                            <label for="rentedYes">Ja</label>
                            <input id="rentedYes" type="radio" name="isRented" value="yes"><br>

                            <label for="rentedNo">Nej</label>
                            <input checked id="rentedNo" type="radio" name="isRented" value="no"><br>

                        </div>
                        <div class="radio">
                            <span>Solgt</span>

                            <label for="soldyes">Ja</label>
                            <input id="soldYes" type="radio" name="isSold" value="yes">

                            <label for="SoldNo">Nej</label>
                            <input checked id="soldNo" type="radio" name="isSold" value="no">

                        </div>

                        <div class="radio">
                            <span>Fejl og Mangler</span>

                            <label for="damagedYes">Ja</label><br>
                            <input id="damagedYes" type="radio" name="isDamaged" value="yes">

                            <label for="damagedNo">Nej</label>
                            <input checked id="damagedNo" type="radio" name="isDamaged" value="no">


                        </div>


                    </div>

                </div>
                <div id="submitBox">
                    <input type="submit" name="submit">

                </div>


    </form>
</div>


</body>
</html>