<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj lejeaftale</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{add-lease.css}">

    <!--- Side til dataregistrering --->

</head>

<body>

    <th:block th:replace="fragment/header-fragment :: header"></th:block>
    <th:block th:replace="fragment/sidebar-fragment :: #sidebar"></th:block>

<div id="rightBox" style="height: fit-content">




   <form th:action="@{/add-rental-agreement}">
       <h1>Tilføj kunde</h1>
       <label for="name">Navn:</label>
       <br>
       <input type="text" name="name" required>
       <br>
       <label for="lastname">Efternavn:</label>
       <br>
       <input type="text" name="lastname" required>
       <br>
       <label for="address">Adresse:</label>
       <br>
       <input type="text" name="address" required>
       <br>
       <label for="email">Email:</label>
       <br>
       <input type="email" name="email" required>
       <br>
       <label for="phoneNumber">Telefonnummer: </label>
       <br>
       <input type="number" name="phoneNumber" required>
       <br>
       <input type="submit" name="add">
       <br>

       <h2>Lejeaftale:</h2>

       <label for="rentalCar">Ledig bil til udlejning</label>
       <select name="rentalCar" required>
       <option th:each="car : ${availableCars}" th:value="${car.getVinNumber()}" th:text="${car.getCarDetails()}"></option>
       </select>

       <label for="employeeID">Medarbejder ID:</label>
       <br>
       <input type="text" name="employeeID" required>
       <br>
       <label for="dateOfAgreement">Dato:</label>
       <br>
       <input type="date" name="dateOfAgreement" required>
       <br>
       <label for="rentalStartdate">Lejeaftalens ikrafttrædelsesdato:</label>
       <br>
       <input type="date" name="rentalStartdate" required>
       <br>
       <label for="rentalEnddate">Lejeaftalens udløbsdato:</label>
       <br>
       <input type="date" name="rentalEnddate" required>
       <br>
       <label for="dropOff">Leveringsadresse</label>
       <br>
       <input type="text" name="dropOff">
       <br>
       <label for="price">Pris:</label>
       <br>
       <input type="text" name="price">
       <br>
       <label for="licensePlate">Nummerplade:</label>
       <br>
       <input type="text" name="licensePlate" minlength="7" maxlength="7" required>
       <br>
       <input type="submit" name="submit">
   </form>

</div>
</body>
</html>