<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/fragmentStyle/headerFragStyle.css">
    <link rel="stylesheet" href="../static/UniversalStyle.css">
    <link rel="stylesheet" href="../static/add-lease.css">
</head>

<body>

    <th:block th:replace="Fragment/headerFragment :: header"></th:block>
    <th:block th:replace="fragment/sideBarFrag :: #sidebar"></th:block>

<div id="rightBox">


</div>
</body>
</html>