<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj bil</title>

    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{add-lease.css}">

    <!--- Side til dataregistrering --->

</head>

<body>

    <th:block th:replace="fragment/header-fragment :: header"></th:block>
    <th:block th:replace="fragment/sidebar-fragment :: #sidebar"></th:block>

<div id="rightBox">
    <div class="flex-container">
        <h3>Kunde info: </h3>
    </div>

</div>
</body>
</html>