<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addCars</title>
    <link rel="stylesheet" href="headerFragStyle.css">
    <link rel="stylesheet" href="sideBarFragStyle.css">
    <link rel="stylesheet" href="add-cars.css">
    <link rel="stylesheet" href="UniversalStyle.css">


</head>
<body>
    <th:block th:replace="fragment/headerFragment :: header"></th:block>

    <th:block th:replace="fragment/sideBarFrag :: #sidebar"></th:block>

    <div id="rightBox">
        <div id="headerBox"></div>
        <h1>Registrere en ny bil</h1>
    </div>
<form action="/addcars" method="post">
   <label for="">Model</label><br>
    <input id="carModel" type="text" name="carModel">
    <br><br>
    <label for="">Brand</label><br>
    <input id="brand" type="text" name="brand">
    <br><br>
    <label for="">CarbonEmission</label><br>
    <input id="carbonEmission" type="text" name="carbonEmission">
    <br><br>
    <label for="">RegistrationCost</label><br>
    <input id="registrationCost" type="text" name="registrationCost">
    <br><br>
    <label for="">eqipmentLevel</label><br>
    <input id="equipmentLevel" type="text" name="carModel">
    <br><br>
    <label for="">isrented</label><br>
    <input id="isRented" type="checkbox" checked="yes" checked="no">
    <br><br>
    <label for=""isrented</label><br>
    <input id="isDamaged" type="checkbox" checked="yes" checked="no">
    <br><br>
</form>

    </div>

</div>
</body>
</html>