<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Cars</title>
    <link rel="stylesheet" th:href="@{fragmentStyle/headerFragStyle.css}">
    <link rel="stylesheet" th:href="@{fragmentStyle/sideBarFragStyle.css}">
    <link rel="stylesheet" th:href="@{available-cars.css}">
    <link rel="stylesheet" th:href="@{UniversalStyle.css}">
    <link rel="stylesheet" th:href="@{car-list.css}">

</head>
<body>
<th:block th:replace="fragment/header-fragment :: header"></th:block>

<th:block th:replace="fragment/sidebar-fragment :: sidebar"></th:block>

<div id="rightBox">
    <table>
        <thead>
        <tr>
            <th>Model</th>
            <th>Mærke</th>
            <th>CO2 udledning</th>
            <th>Udstyrsniveau</th>
            <th>Er udlejet</th>
            <th>Er solgt</th>
            <th>Fejl og mangler</th>
            <th>Stelnummer</th>
            <th>Vogn nummer</th>
        </tr>
        </thead>
        <tr th:each="car : ${availableCarList}">
            <td th:text="${car.getCarModel()}"></td>
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getCarbonEmission()}"></td>
            <td th:text="${car.getEquipmentLevel()}"></td>
            <td th:text="${car.isRented()}"></td>
            <td th:text="${car.isSold()}"></td>
            <td th:text="${car.isDamaged()}"></td>
            <td th:text="${car.getChassisNumber()}"></td>
            <td th:text="${car.getVinNumber()}"></td>


        </tr>

    </table>

</div>


</body>
</html>